{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Votre panier</h1>

{% if items | length> 0 %}
   <table class="table">
   <thead>
       <tr>
           <th>Produit</th>
           <th>Prix</th>
           <th>Quantité</th>
           <th>Total</th>
           <th>Action</th>
           
       </tr>
   </thead>
   <tbody>
   {% for item in items %}
        <tr>
            <td>{{item.produit.nom}}</td>
            <td class="text-right">{{item.produit.prix}} €</td>
            <td>{{item.quantity}}</td>
            <td class="text-right">{{item.produit.prix * item.quantity}} €</td>
            <td>
                <a href="{{path('panier_add', {id: item.produit.id}) }}" class="btn btn-success-sm">
                <i class="fas fa-cart-plus"></i>
                <a href="{{path('panier_delete', {id: item.produit.id}) }}" class="btn btn-success-sm">
                <i class="fas fa-cart-arrow-down"></i>
                <a href="{{path('panier_remove', {id: item.produit.id}) }}" class="btn btn-danger-sm">
                <i class="fas fa-trash"></i>

                </a>
            </td>
        </tr>
       
   {% endfor %}
   </tbody>
   <tfoot>
    <tr>
        <td colsapn="3">Total :</td>
        <td class="text-right">{{total}} €</td>
        <td></td>
        
    </tr>
   </tfoot>
   </table> 
{% else %}
<p>
    Votre panier est vide
</p>
    <br>
   
{% endif %}
</div>
{% endblock %}
