{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Bancs</th>
                <td>{{ categorie.bancs }}</td>
            </tr>
            <tr>
                <th>Barres_et_disques</th>
                <td>{{ categorie.barresEtDisques }}</td>
            </tr>
            <tr>
                <th>Halteres_et_poids</th>
                <td>{{ categorie.halteresEtPoids }}</td>
            </tr>
            <tr>
                <th>Tapis_de_course</th>
                <td>{{ categorie.tapisDeCourse }}</td>
            </tr>
            <tr>
                <th>Steppers</th>
                <td>{{ categorie.steppers }}</td>
            </tr>
            <tr>
                <th>Balles_et_ballons_gym</th>
                <td>{{ categorie.ballesEtBallonsGym }}</td>
            </tr>
            <tr>
                <th>Corde_a_sauter</th>
                <td>{{ categorie.cordeASauter }}</td>
            </tr>
            <tr>
                <th>Tapis_de_gym</th>
                <td>{{ categorie.tapisDeGym }}</td>
            </tr>
            <tr>
                <th>Autres</th>
                <td>{{ categorie.autres }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_categorie_index') }}">back to list</a>

    <a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('admin_categorie/_delete_form.html.twig') }}
{% endblock %}
