{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div class="container">
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code_produit</th>
                <th>Marque</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.codeProduit }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.categories.nom }}</td>
                <td>
                    <a href="{{ path('admin_produit_show', {'id': produit.id}) }}" class="btn btn-outline-danger">show</a>
                    <a href="{{ path('admin_produit_edit', {'id': produit.id}) }}" class="btn btn-outline-secondary">edit</a>
                    <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-outline-primary">ajouter au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_produit_new') }}" class=" btn btn-success">Create new</a>
    </div>
{% endblock %}
